@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  /*src: url("https://static.starcraft2.com/dist/fonts/eurostileext-med-0050275a9320bb8dc80eb677dce63dbf664afbbe57440453110116416b398de22cdd27899e1f72118d07b1afdcbde0177f541f5414ccb54c6771b8cefe46dd35.woff2") format("woff");*/
}

:root {
  --width: 536px;
  --height: 191px;
  --border-size: 2px;
  --border-color: #2d6199;
  --border-radius: 30px;
  --font: Arial;
}

body {
  letter-spacing: .00em;
  font-family: var(--font);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .8), 0 8px 16px rgba(0, 0, 0, .6);
  color: white;
  overflow: hidden;
}

div.box {
  width: var(--width);
  height: var(--height);
  position: absolute;
  text-align: center;
  left: calc((100% - var(--width)) / 2);
  top: calc((100% - var(--height)) / 2);
}

div.misc {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/h2h_back.png);
  background-size: cover;
  background-position: 50%;
}