 .marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 1920px;
  /*position: absolute;*/    /* Removed */


}


.marquee2 {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 1920px;
  /*position: absolute;*/    /* Removed */
}

.marquee3 {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 1920px;
  /*position: absolute;*/    /* Removed */
}

.marquee span {
  position: fixed;
  display: inline-block;
  font-size: 50px;
  bottom: 5px;
  left: 10%;
  /*color: #bea684;*/
  color: #000000;
  white-space: pre;
  will-change: transform;
}

.marquee2 span {
  position: fixed;
  display: inline-block;
  font-size: 50px;
  bottom: 5px;
  left: 100%;
  /*color: #bea684;*/
  color: #000000;
  white-space: pre;
  will-change: transform;

}

.marquee3 span {
  position: fixed;
  display: inline-block;
  font-size: 50px;
  bottom: 5px;
  left: 100%;
  /*color: #bea684;*/
  color: #000000;
  white-space: pre;
  will-change: transform;

}



@keyframes marquee {
  0% {
    -webkit-transform: translate(0%, 0);
  } 100% {
    -webkit-transform: translate(-200%, 0);
  }
}